html, body {
	height: 100%;
	background-image: repeating-linear-gradient(white 0px, white 24px, teal 25px);
	color:#333;
}

.small-margin {
	margin: 5px;
}
.taskbook-container {
	background-color:#e6e6e6;
	height: 80%;
	margin-left: 200px;
	margin-right: 200px;
	box-shadow: 3px 2px 3px 6px #803a0c;
	border-radius: 5px;
	background-image: linear-gradient(to right, #ffffff00 0%, #ffffff00 49%,
		white 50%, 
		#ffffff00 51%, #ffffff00 100%)
	
}

#leftTasks, #rightTasks {
	height:82%;
	background-color: #e6e6e6;
	border-radius: 5px;
	padding: 10px;
	/* box-shadow: 2px 0px 3px 4px #6B2A00; */
	overflow-y:auto;
}
	#leftTasks::-webkit-scrollbar-track, #rightTasks::-webkit-scrollbar-track {
		-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
		border-radius: 8px;
		background-color: #F5F5F5;
	}

	#leftTasks::-webkit-scrollbar, #rightTasks::-webkit-scrollbar {
		width: 8px;
		background-color: #F5F5F5;
	}

	#leftTasks::-webkit-scrollbar-thumb, #rightTasks::-webkit-scrollbar-thumb {
		border-radius: 10px;
		-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
		background-color: #555;
	}

#left-container, #right-container {
	height:100%;
	padding:5px;
}

.title {
	text-align:center;
}

.btn {
	padding: 3px 9px 3px 9px;
	border-radius: 5px;
}
.btn:hover {
	box-shadow: 0 8px 16px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}
.small-button {
	padding: 5px 8px;
}
.w3-input {
	border: none;
	border-radius: 3px;
	padding:10px;
	box-shadow: 0px 0px 10px 1px #33333361;
}
.error {
	box-shadow: 0px 0px 0px 1px rgb(190, 22, 22);
}
.form {
	width:60%;
	background-color: #e6e6e6;
	padding: 50px;
	border: 1px solid #333;
	box-shadow: 3px 3px 20px 0px #333
}

.dropdown {
	display:none;
	position:absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #f3f3f3;
	box-shadow: 3px 3px 20px 0px #333;
	padding: 20px;
	width:25%;
	height:35%;
	border-radius:20px;
	text-align:center;
}
.dropdown input, .dropdown select {
	margin: 10px;
}
.dropdown select {
	border: 1px solid #333;
	padding: 4px;
	border-radius: 5px;
}

/* DARKMODE */

html.darkmode, body.darkmode {
	background-image: repeating-linear-gradient(#333 0px, #333 24px, rgb(123, 182, 182) 25px);
	color:whitesmoke;
}
.taskbook-container.darkmode {
	background-color:#555555;
	box-shadow: 3px 2px 3px 6px #3c2210;
	background-image: linear-gradient(to right, #ffffff00 0%, #ffffff00 49%,
		rgb(128, 128, 128) 50%, 
		#ffffff00 51%, #ffffff00 100%)
	
}
#leftTasks.darkmode, #rightTasks.darkmode {
	background-color: #555555;
}
.form.darkmode {
	background-color: #555555;
	border: 1px solid rgb(100, 100, 100);
	box-shadow: 3px 3px 20px 0px rgb(100, 100, 100);
}

.w3-input.darkmode {
	box-shadow: 0px 0px 10px 1px #00000061;
	background-color:#777777;
	color:whitesmoke;
}
select.darkmode, option.darkmode {
	background-color:#777777;
	color:whitesmoke;
}
.dropdown.darkmode {
	background-color: #676767;
	box-shadow: 3px 3px 20px 0px rgb(25, 25, 25);
}
.dropdown select.darkmode {
	border: 1px solid rgb(25, 25, 25);
}
.w3-btn.darkmode:hover {
	box-shadow: 0 8px 16px 0 rgb(0 0 0 / 30%), 0 6px 20px 0 rgb(0 0 0 / 30%);
}