# This is a basic workflow to help you get started with Actions

name: CI

on:
  # Triggers the workflow on push
  push:
    branches: [ main ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  update:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      # Install fabric to allow file to execute
      - name: setup fabric
        run: pip3 install fabric
        
      # Runs a single command using the runners shell
      - name: update the server
        env: 
          SERVER_KEY: ${{ secrets.server_key }}
        run: python3 deploy/setup-swift-git.py

